<div class="fp-game-mobile">

  <div class="fp-game-mobile__icon">
    <div class="fp-game-mobile__thumbnail fp-thumbnail fp-thumbnail--dialog">
        <div ng-if="game.label" class="fp-thumbnail__label fp-thumbnail__label--{{game.label}}">{{game.label}}</div>
        <div ng-if="::game.newGame" class="fp-thumbnail__new">new</div>
        <fp-image src="src" retina="true" custom-class="fp-thumbnail__img"></fp-image>
    </div>
  </div>

  <div class="fp-game-mobile__holder">

  <div class="fp-game-mobile__wrapper">
    <div class="fp-game-mobile__provider">{{'APP.PAGE.GAME.PROVIDER_PREFIX' | translate}}&nbsp;{{game.providerName | translate}}</div>
    <div class="fp-game-mobile__rtp">RTP: {{ ::game.rtp * 100 | number : 1}}%</div>
  </div>
  <div class="fp-game-mobile__license">
    {{licenseText()}}
  </div>
  <div class="fp-game-mobile__license" ng-if="UK">
    Gambling can be addictive, please play responsibly.
  </div>

    <a ng-if="isLoggedIn" href="" ng-click="toggleFavourite($event)"
       ng-class="{'fp-thumbnail__fav--active': game.favourite}"
       class="fp-game-mobile__favourite">
      <fp-icon-svg name="icon-pnp-favorite" size="md" class-name="fp-thumbnail__fav-icon fp-game-mobile__fav-icon"></fp-icon-svg>&nbsp;
      <span ng-if="!game.favourite">{{'APP.PAGE.GAME.BTN.FAVOURITE.ADD' | translate}}</span>
      <span ng-if="game.favourite">{{'APP.PAGE.GAME.BTN.FAVOURITE.REMOVE' | translate}}</span>
    </a>

    <div class="fp-game-mobile__controls">
      <!--<div class="fp-game-mobile__controls-item" ng-if="!isLoggedIn">-->
      <!--<a class="fp-game-mobile__btn fp-btn fp-btn&#45;&#45;primary fp-btn&#45;&#45;block" ng-click="signup()" fp-hide-if-login>{{'APP.PAGE.SIGN_UP.HEADING' | translate}}</a>-->
      <!--</div>-->
      <div class="fp-game-mobile__controls-item" ng-if="isLoggedIn">
        <a class="fp-game-mobile__btn fp-btn fp-btn--primary fp-btn--block" href ng-click="playGame('real')">{{'APP.PAGE.GAME.BTN.REAL.POST' | translate}}</a>
      </div>
      <div class="fp-game-mobile__controls-item" ng-if="!game.hideDemoUrl && !isLoggedIn && !demoDisabled">
        <a class="fp-game-mobile__btn fp-btn fp-btn--success fp-btn--block" href ng-click="playGame('demo')">{{'APP.PAGE.GAME.BTN.DEMO.POST' | translate}}</a>
      </div>

      <fp-payandplay-login ng-if="$root.isPayAndPlayCountry && !isLoggedIn" compact="true" modal="true" callback-function="cancel()"></fp-payandplay-login>

      <!--<div style="text-align: center; padding: 10px;" ng-if="!isLoggedIn">-->
      <!--<a fp-on-touch="" ui-sref="login">{{'APP.FORM.LOGIN.BTN.SUBMIT' | translate}}</a>-->
      <!--</div>-->
    </div>
  </div>
</div>
